extends ./views/layout/layout-tour.pug

block main
  include ./views/home/TopTour.pug
  include ./views/home/Popular.pug
  include ./views/home/Gem.pug
  include ./views/home/Diamond.pug
  include ./views/home/Learn.pug

