.heading {
  color: var(--black-color);
  font-weight: 600;
  font-style: 30px;
  line-height: 1.5;
  margin-bottom: 34px;

  position: relative;
  &:before {
    content: ""; // required
    width: 30px;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: 0;
  }
  &:after {
    content: "";
  }
}
