section.Grid
  .container
    .my-name
      span Thuan
    .button-rounded icon

    .notification-icon
      svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M19.7695 11.6453C19.039 10.7923 18.7071 10.0531 18.7071 8.79716V8.37013C18.7071 6.73354 18.3304 5.67907 17.5115 4.62459C16.2493 2.98699 14.1244 2 12.0442 2H11.9558C9.91935 2 7.86106 2.94167 6.577 4.5128C5.71333 5.58842 5.29293 6.68822 5.29293 8.37013V8.79716C5.29293 10.0531 4.98284 10.7923 4.23049 11.6453C3.67691 12.2738 3.5 13.0815 3.5 13.9557C3.5 14.8309 3.78723 15.6598 4.36367 16.3336C5.11602 17.1413 6.17846 17.6569 7.26375 17.7466C8.83505 17.9258 10.4063 17.9933 12.0005 17.9933C13.5937 17.9933 15.165 17.8805 16.7372 17.7466C17.8215 17.6569 18.884 17.1413 19.6363 16.3336C20.2118 15.6598 20.5 14.8309 20.5 13.9557C20.5 13.0815 20.3231 12.2738 19.7695 11.6453Z' fill='#A5B4CB')
        path(d='M14.0087 19.2283C13.5088 19.1215 10.4626 19.1215 9.96269 19.2283C9.53533 19.327 9.07318 19.5566 9.07318 20.0602C9.09803 20.5406 9.37929 20.9646 9.76888 21.2335L9.76789 21.2345C10.2718 21.6273 10.8631 21.877 11.4823 21.9667C11.8123 22.012 12.1482 22.01 12.4901 21.9667C13.1083 21.877 13.6996 21.6273 14.2035 21.2345L14.2025 21.2335C14.5921 20.9646 14.8734 20.5406 14.8982 20.0602C14.8982 19.5566 14.4361 19.327 14.0087 19.2283Z' fill='#E5EAF1')

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ullam est similique impedit dolore? Commodi unde similique id, ut nisi corporis assumenda laboriosam numquam ab modi! Cupiditate et reprehenderit labore? Lorem ipsum dolor sit amet consectetur adipisicing elit. In voluptas hic voluptatibus, dolorum ab, cumque enim repellat nesciunt eum voluptate molestias est, ipsum explicabo rerum facere obcaecati aliquam praesentium neque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut praesentium assumenda, atque impedit aperiam vel, ipsum expedita consectetur facere quae necessitatibus voluptatem adipisci quaerat blanditiis quod placeat hic ratione? Totam.

    .boxed

    .text-indent Hello Nguyen Quang Thuan

    .box-overflow Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam aut odit eaque quisquam minima quo reiciendis! Praesentium exercitationem doloribus eum, dolorum officiis facilis distinctio. Quod non ipsa ratione a tenetur.Ea porro, reiciendis eum fugiat rem in iste. Tenetur, error fugiat possimus iusto autem dolor. Sunt obcaecati voluptas laborum provident sapiente eum vel nisi ad facilis, ducimus illum, atque eaque?Fuga dolorum commodi consequatur, nesciunt ducimus at voluptatum blanditiis labore totam, libero animi quis, quasi velit dolorem reprehenderit laborum illum necessitatibus dolore voluptas fugit odio ullam similique. Consequuntur, porro a?Nesciunt cum saepe officiis ad dolores delectus temporibus tempore voluptatem? Commodi nihil, dolore sit animi aperiam quibusdam mollitia asperiores incidunt earum quia autem, saepe et beatae repudiandae excepturi fuga esse!Autem excepturi magni labore maiores! Dicta, alias? Accusantium voluptatem, beatae sapiente voluptatum quo, iure ipsum deleniti quaerat illo, officia sint nostrum repudiandae odit sed velit. Consequatur eos rerum minus molestias.Laudantium accusantium suscipit corrupti nulla debitis reiciendis neque ipsam fugit! Qui minima quod asperiores distinctio provident enim ad saepe sapiente repellat sint voluptatem ducimus dicta, deserunt commodi aperiam porro consequuntur?Accusamus non ducimus harum fugit magnam saepe minus, facere dolorem excepturi iure odio magni, quia alias eos modi dolores. Temporibus beatae corporis nihil, quod voluptates aut dicta excepturi perspiciatis. Magnam!At, rem voluptates et consequatur temporibus ducimus atque! Eum inventore explicabo hic molestiae laboriosam ea error maiores obcaecati! Libero nihil saepe, aliquid aut totam sunt odio facilis corrupti deserunt iste.Nulla eos, omnis autem vitae esse quasi et? Sint voluptate reiciendis illum itaque adipisci soluta nam repudiandae quaerat, fuga pariatur beatae praesentium temporibus autem nisi laboriosam, dolor impedit, laudantium nemo.Molestiae soluta perspiciatis ratione totam cupiditate dolores culpa, sed iure labore voluptate, dolor ab quas esse aperiam atque eius numquam, blanditiis vitae voluptates molestias? Et distinctio quas ipsa laboriosam laborum.

    .image-ratio-wrapper
      img(src="https://images.unsplash.com/photo-1728755695713-703826e6cf16?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D").image-ratio

    .title-clamp My name is Thuan

    .card-item-wrapper
      .card-item
        img(src="https://images.unsplash.com/photo-1728755695713-703826e6cf16?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
        .card-item-content Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, minus. Earum assumenda beatae, quasi ipsa quas iusto architecto repellendus, impedit illo itaque labore ducimus rerum nam deleniti recusandae. Iure, saepe?
